body {
  margin: 0;
}

.header {
  background-color: #F0F;

  &-title {
    font-size: 2rem;
    text-align: center;
  }
}

.main {
  padding: 1rem;
}

.footer {
  background-color: #ccc;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}